body {
  background-color : LightGrey;
}

img {
  border-radius : 10px;
  height : 70px;
}

div.overall-wrapper {
  margin : auto;
  width : 1126px;
}

div.header-img-row {
  /*
  border-color : green;
  border-style : solid;
  border-width : 1px;
  */
  clear : both;
}

div.header-title-row {
  /*
  border-color : red;
  border-style : solid;
  border-width : 1px;
  */
  display : flex;
  width : 100%;
}


div.header-title-lhs {
  flex-grow : 0;
  flex-shrink : 0;
  order : 1;
}


div.header-title-centre {
  display : flex;
  align-items : center;
  justify-content : center;
  flex-grow : 1;
  flex-shrink : 0;
  order : 2;
}

div.header-title-centre-inner {
  display : flex;
  align-items : center;
  justify-content : center;
}

div.header-title-centre-inner-element {
  color : DarkSlateGrey;
  font: 65px "Arial", sans-serif;
  line-height : 80%;
  margin : auto;
  text-align : center;
}

div.header-title-rhs {
  flex-grow : 0;
  flex-shrink : 0;
  order : 3;
}


div.nav-and-panel-container {
  display : flex;
  flex-direction : row;
}


div.nav-container {
  /*background-color : green;*/
  flex-grow : 0;
  width : 200px;
}


div.nav-container>nav {
  display : flex;
  flex-direction : column;
}


div.nav-container>nav>div
{
  padding : 4px 4px 4px 4px;
}


div.nav-container>nav>div>a:link, 
div.nav-container>nav>div>a:visited,
div.nav-container>nav>div>a:active
{
  color:DarkSlateGrey; 
  font: 14px "Arial", sans-serif;
  font-weight: bold;
  text-decoration:none;
}


div.nav-container>nav>div>a:hover
{
  color:red; 
  font: 14px "Arial", sans-serif;
  font-weight: bold;
  text-decoration:none;
}


p
{
  color:DarkSlateGrey; 
  font: 20px "Arial", sans-serif;
  font-weight: normal;
}


p>a:link, 
p>a:visited,
p>a:active
{
  color:DarkSlateGrey; 
  font: 20px "Arial", sans-serif;
  font-weight: bold;
  text-decoration:none;
}


p>a:hover
{
  color:red; 
  font: 20px "Arial", sans-serif;
  font-weight: bold;
  text-decoration:none;
}


div.panel-container {
  /*background-color : red;*/
  flex-grow : 1;
  height : 200px;
  width : 500px;
}

