body {
  background-color : LightGrey;
}


img {
  border-radius : 10px;
  height : 70px;
}


img#findusmap {
  border-radius : 10px;
  float : left;
  height : 300px;
}


div.overall-wrapper {
  height : 1000px;
  margin : auto;
  width : 1126px;

}

div.header-img-row {
  clear : both;
}

div.header-title-row {
  display : flex;
  width : 100%;
}


div.header-title-lhs {
  flex-grow : 0;
  flex-shrink : 0;
  order : 1;
}


div.header-title-centre {
  display : flex;
  align-items : center;
  justify-content : center;
  flex-grow : 1;
  flex-shrink : 0;
  order : 2;
}

div.header-title-centre-inner {
  display : flex;
  align-items : center;
  justify-content : center;
}

div.header-title-centre-inner-element {
  color : DarkSlateGrey;
  font: 65px "Arial", sans-serif;
  line-height : 80%;
  margin : auto;
  text-align : center;
}

div.header-title-rhs {
  flex-grow : 0;
  flex-shrink : 0;
  order : 3;
}


div.nav-and-panel-container {
  display : flex;
  flex-direction : row;
}


div.nav-container {
  flex-grow : 0;
  flex-basis : 170px;
  flex-shrink : 0;
}


div.nav-container>nav {
  display : flex;
  flex-direction : column;
}


div.nav-container>nav>div
{
  padding : 4px 4px 4px 4px;
}


div.nav-container>nav>div>a:link, 
div.nav-container>nav>div>a:visited,
div.nav-container>nav>div>a:active
{
  color:DarkSlateGrey; 
  font: 14px "Arial", sans-serif;
  font-weight: bold;
  text-decoration:none;
}


div.nav-container>nav>div>a:hover
{
  color:red; 
  font: 14px "Arial", sans-serif;
  font-weight: bold;
  text-decoration:none;
}


div.panel-container {
  flex-grow : 1;
}


div.panel-container p
{
  color:DarkSlateGrey; 
  font: 20px "Arial", sans-serif;
  font-weight: normal;
}


div.panel-container h2 
{
  color:DarkSlateGrey; 
  font: bold 24px "Arial", sans-serif;
}


div.panel-container p>a:link, 
div.panel-container p>a:visited,
div.panel-container p>a:active
{
  color:DarkSlateGrey; 
  font: 20px "Arial", sans-serif;
  font-weight: bold;
  text-decoration:none;
}


div.panel-container p>a:hover
{
  color:red; 
  font: 20px "Arial", sans-serif;
  font-weight: bold;
  text-decoration:none;
}



div#find-us-instructions
{
  display : flex;
  flex-direction : row;
}


div#find-us-map-column
{
  flex-grow: 0;
  order: 1;
}


div#find-us-text-column
{
  flex-grow: 1;
  order:2;
}


div#find-us-text-column p
{
  color : DarkSlateGrey;
  font: 14px "Arial", sans-serif;
}


div#find-us-text-column mark, 
div#find-us-text-column a:link, 
div#find-us-text-column a:visited,
div#find-us-text-column a:active
{
  background : inherit;
  color : DarkSlateGrey;
  font: bold 14px "Arial", sans-serif;
}


div#find-us-text-column a:hover
{
  background : inherit;
  color : red;
  font: bold 14px "Arial", sans-serif;
}

